@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE HTML>

<html>
<head>
	<title>Eventually by HTML5 UP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/css/main.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

</head>
<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<h1>Bienvenido</h1>
		<p>
			Primer proyecto realizado en ASP.NET
		</p>
	</header>

	<!-- Signup Form -->


	<!-- Footer -->
	<footer id="footer" style="position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0; ">
		<ul class="icons">
			<li><a href="https://www.instagram.com/javier_romero121/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="https://www.facebook.com/franciscojavier.barreraromero" class="icon brands fa-facebook"><span class="label">Email</span></a></li>
			<li><a href="https://github.com/Javier0015" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
			
		</ul>
		<ul class="copyright">
			<li>&copy; Untitled.</li>
			<li>Credits: <a>Francisco Javier Barrera Romero</a></li>
		</ul>
	</footer>

	<!-- Scripts -->
	<script src="~/js/myscript.js"></script>

</body>
</html>